* {
    font-family: "Calibri Light";
}

.navbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body {
    background-color: #E9EBEE;
}

.body, .navbar {
    width: 55%;
    margin: auto;
}

.empty-block {
    height: 100px;
}

h1, h2, h3 {
    /*margin: 0 auto;*/
}

.content {
    position: relative;
}

.image-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    width: 100%;
    overflow: hidden;
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.image-animation {
transition: transform .5s ease-out;
}

.image-animation:hover {
    transform: scale(1.2);
}