.education-image-container {
    position: relative;
    padding-top: 75%; /* 16:9 Aspect Ratio */
    width: 33.33%;
    overflow: hidden;
}

.education-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}