.project-iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.project-iframe {
    position: absolute;
    border: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
